<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <style>
         body { font-family: 'Noto Sans', sans-serif; }
    </style>
</head>
<body>
<div data-role="page" id="mainpage">
  <div data-role="header" data-position="fixed" data-theme="a">
    <h1 id="">1848</h1>
  </div>
  <div data-role="footer" data-position="fixed" data-theme="a">
    <div data-role="navbar">
      <ul>
        <li><a data-icon="search" href="http://17kesamet.blog.nextlayer.nl" rel=external>Search</a></li>
        <li><a data-icon="grid" href="http://mojolicious.blog.nextlayer.nl" rel=external>Category</a></li>
        <li><a data-icon="check" href="http://dancer.blog.nextlayer.nl" rel=external>Issues</a></li>
        <li><a data-icon="star" href="blog" rel=external>Blog</a></li>
        <li><a data-icon="gear" href="http://heroku.blog.nextlayer.nl" rel=external>Settings</a></li>
      </ul>
    </div><!-- /navbar -->
  </div><!-- /footer -->

  <div data-role="main" class="ui-content">
    <h2>1848</h2>
    <p>https://devcenter.heroku.com/articles/logging 5 days ago - Logs are a stream of time-ordered events aggregated from the output streams of all your app's running processes. Retrieve, filter, or use syslog ...</p>
    <p>유닉스</p>
  </div>
</div>
</body>
</html>
